@font-face {
  font-family: "iconfont"; /* Project id 3188365 */
  src: url('iconfont.woff2?t=1645082336841') format('woff2'),
       url('iconfont.woff?t=1645082336841') format('woff'),
       url('iconfont.ttf?t=1645082336841') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nan_7:before {
  content: "\e611";
}

.icon-zaixianjiance:before {
  content: "\e613";
}

.icon-gaiicon-:before {
  content: "\e6d4";
}

